---
import WishlistItem from "./WishlistItem.astro";
import PopupAdd from "./PopupAdd.astro";

const wishlistItemsDb = await fetch('http://192.168.0.106:2000/getAllWishlistItems');
const data: Array<{
    itemname: string,
    itemurl: string,
    imgurl: string,
    itemprice: number,
    itemcolor: string,
    itembrand: string,
    itemsize: string,
    id: string
}> = await wishlistItemsDb.json();

---

<div id="titleBox">
    <div class="Title">Item wishlist</div>
    <div id="buttons">
        <button class="buttonstyle" popovertarget="popupadd"><i class="fa fa-plus"></i></button>
        <button class="buttonstyle"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</div>

<div id="popupadd" popover><PopupAdd></PopupAdd></div>

<div id="wishlistGrid">
    {
        data.map((data) => <WishlistItem 
            itemname={data.itemname} 
            itemurl={data.itemurl} 
            imgurl={data.imgurl} 
            itemprice={data.itemprice} 
            itemcolor={data.itemcolor} 
            itembrand={data.itembrand} 
            itemsize={data.itemsize} 
            id={data.id}>
        </WishlistItem>)
    }
</div>

<style>
    #wishlistGrid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }

    #titleBox {
        padding: 2vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttonstyle {
        padding: 2vh;
        border-radius: 10px;
        background-color: rgb(247, 247, 247);
        border: unset;
        transition: background-color 0.3s, transform 0.3s;
    }

    .buttonstyle:hover {
        background-color: rgb(189, 189, 189);

    }

    #buttons {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    #popupadd {
        border: unset;
        padding: 2vh;
        border-radius: 10px;
    }

    #popupadd::backdrop {
        background: rgba(0, 0, 0, 0.25);
    }

    #popupadd:

</style>