---

const { itemname, itemurl, imgurl, price, id } = Astro.props;

---

<div id={id} class="wishlistItem">
    <a target=_blank href={itemurl}><img src={imgurl}></a>
    <div id="productText">
        <div>{itemname}</div>
        <div class="Price">R${price}</div>
    </div>
    
</div>

<script define:vars={{id}} type="module">
import { addToIdList, getAllIds } from "./source.js";

    const card = document.getElementById(id);
    card?.addEventListener('click', function() {
        addToIdList(card.id);
        getAllIds();
    });
</script>

<style>
    img {
        object-fit: cover;
        height: 250px;
    }

    .Price {
        font-weight: 700;
    }

    #productText {
        margin-left: 15px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
    }
    .wishlistItem {
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        transition: opacity 0.5s ease;
        width: 250px;
    }

    .wishlistItem:hover {
        opacity: 0.5;
    }
</style>