---

const { itemname, itemurl, imgurl, itemprice, itemcolor, itembrand, itemsize, id } = Astro.props;

---

<button class="buttonstyle" id="product-card" popovertarget="product-popup">
    <div id={id} class="product-main-column">
        <div id="product-picture"><img src={imgurl}></div>
        <div id="product-brand-price-row">
            <div id="product-brand">{itembrand}</div>
            <div id="product-price">R${itemprice}</div>
        </div>
        <div id="product-name">{itemname}</div>
        
    </div>
    
</button>


<script define:vars={{id}} type="module">
    import { addToIdList, getAllIds } from "./source.js";
        const card = document.getElementById(id);
        card?.addEventListener('click', function() {
            addToIdList(card.id);
            getAllIds();
        });
</script>

<style>
    img {
        width: 260px;
        height: 260px;
        object-fit: cover;

    }

    #product-card {
        padding: 0;
        border-style: none;
        font-family: "Poppins";
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 10px;
    }

    #product-brand {
        background-color: rgb(150, 16, 16);
        color: white;
        padding: 5px;
        border-radius: 10px;
    }

    #product-price {
        font-weight: bold;
        font-size: 15px;
    }

    #product-name {
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Layout CSS */

    #product-brand-price-row {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        align-items:center;
    }

</style>