---

const { itemname, itemurl, imgurl, itemprice, itemcolor, itembrand, itemsize, id } = Astro.props;



---

<button class="buttonstyle" id="product-card" popovertarget="product-popup">
    <div id={id} class="product-main-column">
        <div class="deleting-button" id={id}>
            <i class="fa-solid fa-trash" id="deleting-button-icon"></i>
        </div>
        <div id="product-picture"><img src={imgurl}></div>
        <div id="product-brand-price-row">
            <div id="product-brand">{itembrand}</div>
            <div id="product-price">R${itemprice}</div>
        </div>
        <div id="product-name">{itemname}</div>
        
    </div>
    
</button>


<script define:vars={{id}}>
    document.querySelectorAll(".deleting-button").forEach(deleteButton => {
        deleteButton.addEventListener('click', async function() {

            await fetch (`http://localhost:2000/deleteSingleItemById/${id}`, {
                method: "DELETE",
            });

            location.reload();

    });
});
</script>

<style>
    img {
        width: 260px;
        height: 260px;
        object-fit: cover;

    }

    #deleting-button-icon {
        background-color: rgb(150, 16, 16);
        padding: 8px;
        color: white;
        border-radius: 5px;

    }

    #product-card {
        padding: 0;
        border-style: none;
        font-family: "Poppins";
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 10px;
    }

    #product-brand {
        background-color: rgb(150, 16, 16);
        color: white;
        padding: 5px;
        border-radius: 10px;
    }

    #product-price {
        font-weight: bold;
        font-size: 15px;
    }

    #product-name {
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Layout CSS */

    #product-brand-price-row {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        align-items:center;
    }

    .product-main-column {
        display: block;
    }

    .deleting-button {
        position: fixed;
        margin-left: 14rem;
        visibility: hidden;
        cursor: pointer;
    }

    #product-card:hover .deleting-button {
        visibility: visible;
    }


</style>