---
import Product from "./Product.astro";
import NewItemPopup from "./NewItemPopup.astro";


const { data } = Astro.props as {
    data: Array<{
    itemname: string,
    itemurl: string,
    imgurl: string,
    itemprice: number,
    itemcolor: string,
    itembrand: string,
    itemsize: string,
    id: string
}> };


---

<div id="adding-button">
    <button class="buttonstyle" popovertarget="new-item-popup"><i class="fa fa-plus"></i></button>
</div>

<div id="new-item-popup" popover><NewItemPopup></NewItemPopup></div>

<div id="products-grid">
    {
        data.map((d) => <Product 
            itemname={d.itemname} 
            itemurl={d.itemurl} 
            imgurl={d.imgurl} 
            itemprice={d.itemprice} 
            itemcolor={d.itemcolor} 
            itembrand={d.itembrand} 
            itemsize={d.itemsize} 
            id={d.id}>
        </Product>)
    }
</div>

<style>
    #products-grid {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;
    }

    #title-box {
        padding: 2vh 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #adding-button {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .buttonstyle {
        padding: 2vh;
        border-radius: 10px;
        background-color: rgb(150, 16, 16);
        border: unset;
        transition: background-color 0.3s, transform 0.3s;
        color: white;
    }

    .buttonstyle:hover {
        background-color: rgb(189, 189, 189);

    }

    #new-item-popup {
        border: unset;
        padding: 2vh;
        border-radius: 10px;
    }

    #new-item-popup::backdrop {
        background: rgba(0, 0, 0, 0.25);
    }


</style>